@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    box-sizing: border-box;
}

body {
    background: #F0F2F5;
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display';
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Facebook Content Area */

.facebook {
    height: 100vh;
    width: 100%;
}

.facebook .container.grid {
    gap: 100px;
    overflow: visible;

}



.facebook-content-area img {
    width: 50%;
}

.facebook-content-area h2 {
    font-weight: 400;
    color: #1c1e21;
    font-size: 28px;
}

.facebook-content-area .fake-login {
    background: #F8D7DA;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/* form */

.hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
}

.facebook-form-area {
    background: #FFFFFF;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.facebook-form-area form {
    width: 100%;
    max-width: 400px;
    padding: 16px
}

.facebook-form-area form .form-control {
    margin: 0 0 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    width: 100%;
    padding: 15px;
}

.facebook-form-area form input {
    font-size: 17px;
    color: #717171;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 0;
    background: none;
}

.facebook-form-area input[type="submit"] {
    width: 100%;
    background: #1877F2;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
    font-family: inherit;
}

.facebook-form-area span.forget-pass {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.facebook-form-area span.forget-pass a {
    color: #1877F2;
    font-size: 16px;
    text-decoration: none;
    font-family: inherit;
}

.facebook-form-area span.forget-pass a:hover {
    text-decoration: underline;
}

.facebook-form-area .h-line {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 0;
    text-align: center;
}

.facebook-form-area .create_new {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.facebook-form-area .create_new .create_new_link {
    background: #42B72A;
    padding: 15px 18px;
    border-radius: 6px;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
}



/* Form Ends */

/* Media Query */
@media(max-width:768px) {


    .facebook {
        display: flex;
        align-items: center;
    }

    .facebook .container.grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px !important;
        height: auto;
    }

    .facebook-content-area,
    .facebook-form-area {
        max-width: 420px;
        margin: 0 auto;
        justify-content: center;
    }

    .facebook-content-area h2 {
        font-size: 24px;
        text-align: center;
    }

}